.header {
  background-color: #1c524f;
  /* padding: 4px 300px; */
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-logo{
    cursor: pointer;
    font-size: 18px;
}
.header-logo:hover{
    color: #f8853e;
}

.header-icon{
    font-size: 30px;
    cursor: pointer;
}
.header-icon p{
    margin-left: 10px;
    font-size: 12px;
}
.header-icon:hover{
    color: #f8853e;
}

.header-username{
    font-size: 16px;
}

@media (max-width: 600px){
    .header-logo{
        margin-left: 2rem;
    }
    .header-icon{
        margin-right: 2rem;
    }
    .header-icon p{
        display: none;
    }
}

