.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px #2f8883;
    position: relative;

}

.post{
    
}

.post-date {
    position: absolute; /* Absolute positioning for the post-date */
    top: 8px;
    right: 8px;
    font-size: 14px;
    color: #2f8883;
}


