.postCreate-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 30px auto;
}

.post-input{
    width: 100%;
    border: none;
    outline: none;
    padding: 30px;
    border-bottom: 1px solid lightgrey;
    height: 140px;
    font-size: large;
    box-sizing: border-box;
}
.post-input:focus{
    border-bottom: 2px solid #1c524f;
}

.post-create-btn{
    width: 100%;
    padding: 18px;
    background-color: #1c524f;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: medium;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    transition: all 0.2s ease 0s;
}
.post-create-btn:hover{
    background-color: #f8853e;
}


@media (max-width: 600px){
    .postCreate-div{
        width: 80%;
    }
    .post-create-btn{
        padding: 10px;
    }
    .post-input{
        font-size: medium;
    }
}