.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 45%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px;
    box-sizing: border-box;
    /* border-left: 1px solid #2f8883;
    border-right: 1px solid #2f8883; */
    border-bottom: 1px solid #1c524f;
    position: relative;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: #1c524f;
    font-size: 1.4rem;
}
.icon{
    margin-right: 0.5rem;
    cursor: pointer;
}
.icon:hover{
    color: #f8853e;
}
.like-count{
    font-weight: 500;
    margin-right: 0.5rem;
}

.container:hover{
    background-color: #1c524f2a;
}

.post-text{
    margin: 20px 50px 10px 50px;
    font-size: 1.2rem;
}

.username{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #1c524f;
}

.post-date {
    position: absolute; /* Absolute positioning for the post-date */
    top: 24px;
    right: 24px;
    font-size: 14px;
    font-weight: bold;
    color: #1c524f;
}

.back-btn{
    font-size: 1.7rem;
    color: #1c524f;
}


